<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title><%= Kilt.config.name %></title>
    
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,800,300" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag "stylesheets/screen", :media => "all" %>
    
    <%= javascript_include_tag "application" %>
</head>
<body>
    
    <div class="wrapper">
    
        <h1><%= Kilt.config.name %> app</h1>
    
        <%= yield %>
    
    </div>

</body>
</html>
