
<div class="wr">

    <% 
        if Kilt.send(@type).name != nil
            name = Kilt.send(@type).name
        else
            name = @type.pluralize.capitalize
        end
    %>
    
    <h2><%= @object['name'] %> <small><%= name.singularize.capitalize %></small></h2>

    <div class="page-actions">
        <%= link_to "â† Back to #{name}", list_path(@type), :class => 'button back' %>
        <%= link_to "New #{@type.capitalize}", new_object_path(@type), :class => 'button back' if !@object.empty? %>
    </div>

    <% if flash[:error] -%>
        <p class="error"><%= flash[:error] %></p>
    <% end %>

    <% if flash[:notice] -%>
        <p class="notice"><%= flash[:notice] %></p>
    <% end %>

    <%= form_tag @path, :method => "post", :multipart => true do %>

        <% @object.fields.each_with_index do |(key, value), index| %>
            <%= Kilt::Form.prep_field(value, @object, key, index) %>
        <% end %>

        <div class="form-input actions">
            <input type="submit" class="submit save" value="Save">
        </div>

    <% end%>

</div>