
<div class="wr">

    <% 
        singular = Kilt::Formatting.singular_name_of @type
        plural   = Kilt::Formatting.plural_name_of @type
    %>
    
    <div class="page-actions">
        <h2><%= @object['name'] || "New #{singular}" %> 
            <% if @object['name'] %>
                <small>Type: <%= singular %></small>
            <% end %>
        </h2>

        <%= link_to "â† Back to #{plural}", list_path(@type), :class => 'button back newline' %>
        <%= link_to "New #{singular}", new_object_path(@type), :class => 'button back newline' if !@object.empty? %>
    </div>

    <% if flash[:error] -%>
        <p class="error"><%= flash[:error] %></p>
    <% end %>

    <% if flash[:notice] -%>
        <p class="notice"><%= flash[:notice] %></p>
    <% end %>

    <%= form_tag @path, :method => "post", :multipart => true do %>

        <% @object.fields.each_with_index do |(key, value), index| %>
            <%= Kilt::Form.render_field(self, {
                                                key: key,
                                                value: value,
                                                object: @object,
                                                index: index
                                              } ) %>
        <% end %>

        <div class="form-input actions">
            <input type="submit" class="submit button save" value="Save">
        </div>

    <% end%>

</div>
